<html>
  <header>
    <meta name="viewport" content="width=device-width">
  </header>
  <body>
    <%= render 'welcome/menu_bar', :logged => true %>
    <div class="model-panel">
      <%= render 'form' %>
      <%= render 'teams' %>
    </div>
  </body>
</html>
