@import "colors";
.edit-profile-img {
  padding: 4%;
  margin-left: auto;
  margin-right: auto;
  display: inherit;
  width: 45%;
}

.edit-profile-container {
  padding: 7%;

}

.edit-profile-panel {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 45%;
  margin-left: -250px;
  margin-top: -250px;
  width:500px;
  background: $grey;
  box-shadow: 6px 6px 25px -1px rgba(0,0,0,0.75);
}

.edit-profile-data {
  margin-bottom: 4%;
}

.edit-button {
  text-align:center;

}
