<div class="log-panel">
  <% if !create %>
    <%= form_tag("/users/sign_in", method: "post", class: "log-form") do %>
    <!--<form class="log-form" action="/users/sign_in" method="POST"> -->
      <h2 class="bm-label">Log in</h2>
      <div class="log-row">
        <h4>Email</h4>
        <input class="bm-input"  name="user[email]" type="text"/>
      </div>
      <div class="log-row">
        <h4>Password</h4>
        <input class="bm-input" name="user[password]" type="password"/>
      </div>
      <input name="commit" type="hidden" value="Log in">
      <div class="log-row">
        <button type="submit" class="log-button">Submit</button>
      </div>
    <% end %>
    <!--</form> -->
  <% else %>
    <!-- <form class="log-form" action="/users" method="POST"> -->
    <%= form_tag("/users", method: "post", class: "log-form") do %>
      <h3 class="bm-label">Create new user</h3>
      <div class="log-row">
        <h4>Email</h4>
        <input class="bm-input" name="user[email]" type="text"/>
      </div>
      <div class="log-row">
        <h4>Password</h4>
        <input class="bm-input" name="user[password]" type="password"/>
      </div>
      <div class="log-row">
        <h4>Re-type password</h4>
        <input class="bm-input" name="user[password_confirmation]" type="password"/>
      </div>
      <input name="commit" type="hidden" value="Sign in">
      <div class="log-row">
        <button type="submit" class="log-button">Submit</button>
      </div>
    <% end %>
  <% end %>
</div>
