<div class="log-panel">
  <% if !create %>
    <form class="log-form" action="/users/login" method="POST">
      <label>Log in</label>
      <div class="log-row">
        <label>Username</label>
        <input name="username" type="text"/>
      </div>
      <div class="log-row">
        <label>Password</label>
        <input name="password" type="password"/>
      </div>
      <div class="log-row">
        <button type="submit" class="log-button">Submit</button>
      </div>
    </form>
  <% else %>
    <form class="log-form" action="/users" method="POST">
      <label>Create new user</label>
      <div class="log-row">
        <label>Username</label>
        <input name="username" type="text"/>
      </div>
      <div class="log-row">
        <label>Email</label>
        <input name="email" type="text"/>
      </div>
      <div class="log-row">
        <label>Password</label>
        <input name="password" type="password"/>
      </div>
      <div class="log-row">
        <label>Re-type password</label>
        <input type="password"/>
      </div>
      <div class="log-row">
        <button type="submit" class="log-button">Submit</button>
      </div>
    </form>
  <% end %>
</div>
