<div class="log-panel">
  <% if !create %>
    <form class="log-form" action="/users/login" method="POST">
      <label class="bm-label">Log in</label>
      <div class="log-row">
        <label class="bm-label">Username</label>
        <input class="bm-input" name="username" type="text"/>
      </div>
      <div class="log-row">
        <label class="bm-label">Password</label>
        <input class="bm-input" name="password" type="password"/>
      </div>
      <div class="log-row">
        <button type="submit" class="log-button">Submit</button>
      </div>
    </form>
  <% else %>
    <form class="log-form" action="/users" method="POST">
      <label class="bm-label">Create new user</label>
      <div class="log-row">
        <label class="bm-label">Username</label>
        <input class="bm-input" name="username" type="text"/>
      </div>
      <div class="log-row">
        <label class="bm-label">Email</label>
        <input class="bm-input" name="email" type="text"/>
      </div>
      <div class="log-row">
        <label class="bm-label">Password</label>
        <input class="bm-input" name="password" type="password"/>
      </div>
      <div class="log-row">
        <label class="bm-label">Re-type password</label>
        <input class="bm-input" type="password"/>
      </div>
      <div class="log-row">
        <button type="submit" class="log-button">Submit</button>
      </div>
    </form>
  <% end %>
</div>
