<div class="nav-bar">
  <div class="logo">
    <label>Company </label>
  </div>
  <div class="options">
    <ul>
      <li onclick="showSelectedMenu('#homeMenu')"> <a> Home </a> </li>
      <li onclick="showSelectedMenu('#createUserMenu')"> <a> Sign up </a> </li>
      <li onclick="showSelectedMenu('#logInMenu')"> <a> Log in </a> </li>
    </ul>
  </div>
</div>
