<div class="nav-bar">
  <div class="logo">
    <label onclick="goToHome()">BetMatch </label>
  </div>
  <div class="options">
    <ul>
      <%if user_signed_in? %>
        <% if current_user.is_admin_user %>
          <li> <a href="/teams" class="bm-nav-option"> Teams </a> </li>
          <li> <a href="/matches" class="bm-nav-option"> Matches </a> </li>
        <% end %>
        <li> <a id="accounts" class="bm-nav-option dropdown"> <%= current_user.email %> </a> </li>
        <div id="accountsDropdown" class="dropdown-content">
          <div><a class="dropdown-item" onclick="hideAccountsDropdown()" href="/users"> Edit profile </a></div>
          <div><a class="dropdown-item" onclick="hideAccountsDropdown()" href="/users/edit_password"> Change password </a></div>
          <div> <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => "dropdown-item") %> </div>
        </div>
      <% else %>
        <li><a href="/all" class="bm-nav-option"> All bets! </a></li>
        <li> <a id="accounts" class="bm-nav-option dropdown"> Accounts </a></li>
        <div id="accountsDropdown" class="dropdown-content">
          <div><a class="dropdown-item" onclick="showSelectedMenu('#homeMenu');hideAccountsDropdown()"> Home </a></div>
          <div><a class="dropdown-item" onclick="showSelectedMenu('#signUpMenu');hideAccountsDropdown()"> Sign up </a></div>
          <div><a class="dropdown-item" onclick="showSelectedMenu('#logInMenu');hideAccountsDropdown()"> Log in </a></div>
        </div>
      <% end %>
    </ul>
  </div>
</div>
