<div class="nav-bar">
  <div class="logo">
    <label onclick="goToHome()">BetMatch </label>
  </div>
  <div class="options">
    <ul>
      <li> <a href="/teams"> Create teams </a> </li>
      <% if !logged %>
        <li> <a onclick="showSelectedMenu('#signUpMenu')"> Sign up </a> </li>
        <li> <a onclick="showSelectedMenu('#logInMenu')"> Log in </a> </li>
      <% end %>
    </ul>
  </div>
</div>
