<div class="nav-bar">
  <div class="logo">
    <label>WhereYouBet </label>
  </div>
  <div class="options">
    <ul>
      <li> <a onclick="showSelectedMenu('#homeMenu')"> Home </a> </li>
      <li> <a onclick="showSelectedMenu('#signUpMenu')"> Sign up </a> </li>
      <li> <a onclick="showSelectedMenu('#logInMenu')"> Log in </a> </li>
    </ul>
  </div>
</div>
