<div class="nav-bar">
  <div class="logo">
    <label onclick="goToHome()">BetMatch </label>
  </div>
  <div class="options">
    <ul>
      <li> <a href="/teams" class="bm-nav-option"> Teams </a> </li>
      <li> <a href="/matches" class="bm-nav-option"> Matches </a> </li>
      <% if !logged %>
        <li> <a id="accounts" class="bm-nav-option dropdown"> Accounts </a></li>
        <div id="accountsDropdown" class="dropdown-content">
          <div><a class="dropdown-item" onclick="showSelectedMenu('#signUpMenu');hideAccountsDropdown()"> Sign up </a></div>
          <div><a class="dropdown-item" onclick="showSelectedMenu('#logInMenu');hideAccountsDropdown()"> Log in </a></div>
        </div>
      <% end %>
    </ul>
  </div>
</div>
