<html>
  <header>
    <meta name="viewport" content="width=device-width">
  </header>
  </body>
    <%= render 'menu_bar' %>
  <div id="createUserMenu" hidden>
    <%= render 'log_in_form', :create => true %>
  </div>
  <div id="logInMenu" hidden>
    <%= render 'log_in_form', :create => false %>
  </div>
  </body>
</html>
