<div class="bet-container">
  <div class="best-five-bets">
    <h1> All bets </h1>
    <%= render 'matches/home_matches_table', :matches => @all_matches %>
  </div>
</div>
<%= render 'matches/selected_matches' %>
