@import "colors";
.log-panel {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -250px;
  width:500px;
  background: $grey;
  box-shadow: 6px 6px 25px -1px rgba(0,0,0,0.75);
  .log-form {
    padding: 5% 20%;
    position: relative;
    height: inherit;
    .log-row {
      margin-top: 13%;
    }
    .log-button {
      margin-top: 10%;
      padding: 5% 10%;
      border: solid 1px;
      border-radius: 3px;
      background-color: $forestgreen;
      color: $white;
      font-family: Copperplate, "Copperplate Gothic Light";
      width: 100%;
      &:hover{
        cursor:pointer;
        transition: transform 500ms;
        transform: scale(1.03);
      }
    }
  }
}
