// Place all the styles related to the Matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";
.csv-form {
  margin-top: 7%;
}

.best-five-bets,
.hot-five-bets {
  padding: 1%;
  border-right: .5px solid;
  h1 {
    font-weight: bold;
    border-bottom: .5px solid;
  }
}
.bet-container {
  width: 75%;
  display: inline-block;
}
.user-bet-container {
  padding: 1%;
  width: 25%;
  height: 100%;
  display: inline-block;
}
.best-five-content {
  margin-top: 5%;
  ul {
    padding: 0;
    list-style: none;
    li {
      width: 16%;
      display: inline-block;
    }
  }
  div {
    width: 16%;
    display: inline-block;
    &.double-row {
      width: 32%;
      text-overflow: ellipsis;
    }
  }
  .best-five-header,
  .best-five-row {
    width: 100%;
    height: 30px;
  }
  .bet-button {
    border: 0.2px solid;
    font-family: Copperplate, "Copperplate Gothic Light";
    cursor: pointer;
    text-align: center;
    width: 8%;
    &-inactive {
      border-radius: 3px;
    }
    &-active {
      background-color: $forestgreen;
      color: $white;
    }
  }
}
