// Place all the styles related to the Matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";
.csv-form {
  margin-top: 7%;
}

.best-five-bets,
.hot-five-bets {
  padding: 1%;
  h1 {
    font-weight: bold;
    margin-top: 0;
  }
  &.no-borders {
    border: none;
  }
}

.bet-container {
  width: 100%;
  display: inline-block;
}

.user-bet-container {
  background-color: #228b22;
  opacity: 0.9;
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -320px;
  border-radius: 10px 10px 0 0;
  text-align: center;
  box-shadow: 0px 5px 23px 2px black;
  border: .5px solid $black;
  color: $white;
  .hide-down {
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
  }
  .cart {
    font-size: 40px;
    padding: 5px;
    cursor: pointer;
    width: 60px;
    height: 60px;
  }
  h1 {
    display: inline-block;
  }
  .complete-bet-form {
    display: inline-block;
    vertical-align: middle;
  }
  .user-bet-row {
    margin-bottom: 5%;
    label {
      width: 20%;
    }
    div {
      display: block;
    }
  }
  button {
    margin-bottom: 8%;
  }
}

.cart-resize {
  width: 70px;
  margin-left: -35px;
  transition: 200ms;
}

.full-bet-size {
  width: 45%;
  transition: 200ms;
  min-height: 100px;
}

.best-five-content {
  border-radius: 3px;
  font-size: 17px;
  ul {
    padding: 0;
    list-style: none;
    li {
      height: 100%;
      width: 16%;
      display: inline-block;
      vertical-align: top;
      &.medium-row {
        width: 20%;
        text-overflow: ellipsis;
      }
      &.cell-tiny {
        width: 10%;
      }
      label {
        margin:0;
      }
    }
  }
  &.double-row {
    width: 32%;
  }
  div {
    width: 16%;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.medium-row {
      width: 20%;
    }
    &.cell-tiny {
      width: 10%;
    }
  }
  .best-five-header,
  .best-five-row {
    width: 100%;
    margin: 2px 0;
    background-color: $white;
    padding: 5px;
    border: .2px solid #aaaaaa;
    border-radius: 3px;

    &.row-active {
      background-color: $forestgreen;
      color: $white;
      select {
        background-color: #57c670;
      }
      &:hover {
        transform: scale(1.01);
        background-color: $forestgreen;
      }
    }
  }
  .best-five-row:hover {
    background-color: #F1F1E4;
    transform: scale(1.01);
  }
  .best-five-header {
    background-color: #57c670;
    font-family: Copperplate, "Copperplate Gothic Light";
    color: $white;
  }
  .bet-button {
    border: 0.2px solid;
    background-color: $white;
    font-family: Copperplate, "Copperplate Gothic Light";
    cursor: pointer;
    text-align: center;
    width: 8%;
    &-inactive {
      border-radius: 3px;
    }
    &-active {
      border-radius: 3px;
      background-color: $forestgreen;
      color: $white;
    }
  }
}
