// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";
 .team-panel {
   position: absolute;
   display: inline-block;
   left: 15%;
   top: 20%;
   background-color: $grey;
 }

.team-create {
  display: inline-block;
}

.teams-container {
  display: inline-block;
}
